@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply antialiased;
  }
}

@layer utilities {
  .bg-clip-text {
    -webkit-background-clip: text;
    background-clip: text;
  }
}
